@media only screen and  (min-width: 768px) {

    .gallery-list {
        padding:0;
    }

    .gallery-list > li {
        display:inline-block;
        max-width:25%;
        padding-right:0.8rem;
        padding-left:0.8rem;
        margin-right:-4px;
    }


    .gallery-container > input {
        width: 35%;
    }

    .overlay {
        opacity:0;
    }

    .pswp__caption__center  {
        max-width:570px;
        color:white
    }

    .overlay > div {
        max-width: 170px;
    }
}

@media only screen and  (min-width: 1024px) {

    .gallery-center {
        max-width: 82%;
        margin:0 auto;
    }

    .overlay > div {
        max-width: 174px;
    }

}


